<div style="background-color: rgb(255, 255, 255);" class="card centrar">
    <h5>Pipas</h5>
    <div class="card-body">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <p-button icon="pi pi-home" styleClass="p-button-sm p-button-raised" label="Inicio" [style]="{'margin-left': '.4em'}"></p-button>
            </ng-template>
            <ng-template pTemplate="right">
                <p-button [routerLink]="['/pipas/create']" icon="pi pi-plus" styleClass="p-button-sm p-button-raised p-button-secondary" label="Nuevo Registro" [style]="{'margin-left': '.4em'}"></p-button>
            </ng-template>
        </p-toolbar>
        <p-table styleClass="p-datatable-sm p-datatable-striped p-datatable-responsive-demo p-datatable-gridlines" #dt1 [value]="driveVehicleDate" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
            [scrollable]="true" dataKey="id" scrollHeight="500px" [style]="{ width: '100%' }" [rowsPerPageOptions]="[2,10,25,50]" [loading]="loadingTable">

            <ng-template pTemplate="header" let-rowData="rowData">

                <tr>
                    <th style="text-align: center;" pSortableColumn="eco">N. Economico
                        <p-sortIcon></p-sortIcon>
                    </th>
                    <th style="text-align: center;" pSortableColumn="firstname">Nombre
                        <p-sortIcon></p-sortIcon>
                    </th>
                    <th style="text-align: center;" pSortableColumn="placas">Placas
                        <p-sortIcon></p-sortIcon>
                    </th>
                    <th style="text-align: center;">Capacidad
                        <p-sortIcon></p-sortIcon>
                    </th>
                    <th style="text-align: center;">Telefono
                    </th>
                    <th style="text-align: center;">Dependencia
                    </th>
                    <th style="text-align: center;">Acciones</th>
                </tr>

                <tr>
                    <th>
                        <input pInputText type="text" (input)="dt1.filter($event.target.value, 'eco', 'contains')" [value]="dt1.filters['eco']?.value" placeholder="Busqueda por N. Economico" class="p-column-filter p-inputtext-sm">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt1.filter($event.target.value, 'firstName', 'contains')" [value]="dt1.filters['firstname']?.value" placeholder="Busqueda por Nombre" class="p-column-filter p-inputtext-sm">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt1.filter($event.target.value, 'placa', 'contains')" [value]="dt1.filters['placas']?.value" placeholder="Busqueda por Placas" class="p-column-filter p-inputtext-sm">
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-Vehicle>
                <tr [pSelectableRow]="Vehicle">
                    <td>{{Vehicle.eco}}</td>
                    <td>{{Vehicle.firstName}}</td>
                    <td>{{Vehicle.placa}}</td>
                    <td>{{Vehicle.capacity}}</td>
                    <td>{{Vehicle.phoneNumber}}</td>
                    <td>{{Vehicle.dependency}}</td>
                    <td style="text-align: center;">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" [routerLink]="['/pipas/edit', Vehicle.id]"></button> &nbsp;
                        <button style="align-items: center; text-align: center;" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger  p-mr-2" (click)="deleteDriverVehicle(Vehicle, i)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
            </ng-template>
            <ng-template pTemplate="paginatorright">
            </ng-template>
        </p-table>
    </div>
</div>