.centrar {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h3 {
    color: #56BA6A;
}

button{
    
    background-color: #72C683;
}
h5{
    color: #7C9180;

}

p-dropdown    {
    width:100% !important;
  }