.centrar {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: #56BA6A;
}

button{
    
    background-color: #72C683;
}

.secundario{
    background-color: #4E915C;
    color: whitesmoke;
}
.containerbutton{

    width: 40%;
    margin-left: 10px;
    margin-right: auto;
}