.centrar {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

h4,
h5 {
    text-align: center;
}

.cardF {
    padding: 5%;
}

button {
    background-color: #72C683;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.card-centrar {
    align-items: center;
}

.sombra {
    box-shadow: 10px 5px 5px black;
}

label {
    font-size: small;
}