<div class="container">
<div class="row">
  <div class="col-md-6">
    <div class="card centrar">
      <app-graphics-litersofwater #litersofwater></app-graphics-litersofwater>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card centrar">
      <h4>
        Sistema de Pipas de la CDMX
      </h4>
    </div>
  </div>
</div>
  <div class="card centrar">
    <app-graphics #tipsDay></app-graphics>
  </div>
  <div>
    <div class="card centrar">
      <app-graphics-litres-municipality #municipalityTotalLiters></app-graphics-litres-municipality>
    </div>
    <div class="card centrar">
      <app-graphics-bar #piperpoService></app-graphics-bar>
    </div>
    <div class="card centrar">
      <app-graphics-people #peopleServed></app-graphics-people>
    </div>
  </div>
</div>